    .porsche-hero {
        height: 60vh;
        background: url("../assets/pierre-vandekerckhove-iwigrPxXkqc-unsplash.jpg") no-repeat top;
        background-size: contain;
        nav {
            background-color: yellow;
        }
        h1 {
            color: red;
        }
    }