   header {
       nav {
           background: $dark-color;
           div {
               padding: 10px;
               h1 {
                   color: $light-color;
               }
           }
       }
   }