    .porscheHero {
        height: 70vh;
        background: url("../assets/pierre-vandekerckhove-iwigrPxXkqc-unsplash.jpg") no-repeat top;
        background-size: contain;
        nav {
            background-color: yellow;
            ul {}
        }
        h1 {
            color: red;
        }
    }