// introduction section
.porscheIntro {
    .pickerShortDesc {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ;
        padding: 20px;
        h2 {
            font-weight: 900;
            color: white;
        }
    }
    .pickerLongDesc {
        padding: 20px;
        background-color: $tertiary-color;
        h2 {
            font-weight: bold;
            text-align: right;
            color: $dark-color;
        }
    }
}

// the quiz
.porscheQuiz {
    .porscheQuestion {}
}