// introduction section
.porscheIntro {
    .pickerShortDesc {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        h2 {
            color: $light-color;
        }
    }
    .pickerLongDesc {
        padding: 20px;
        background-color: $tertiary-color;
        h2 {
            font-weight: bold;
            text-align: right;
            color: $dark-color;
        }
    }
}

// the quiz questions and associated options
.porscheQuiz {
    .porscheQuestion {
        background-color: $light-color;
        padding-bottom: 50px;
        .questionRow {
            justify-content: space-between;
            background-color: $accent-color;
        }
        h3 {
            font-weight: bold;
            padding: 20px;
        }
        label {
            font-size: 2rem;
            font-weight: bold;
            padding-left: 10px;
        }
        .submitContainer {
            justify-content: center;
            padding-top: 40px;
            .btnSubmit {
                background-color: $primary-color;
                color: $light-color;
                font-weight: 900;
                margin: 5px;
            }
        }
        .porscheOption {
            padding: 20px 0px 0px 20px;
            p {
                padding-top: 10px;
                font-size: 1.5rem;
                ;
            }
        }
    }
}

// the section displaying the matched Porsche
.displayPorsche {
    padding: 10px;
    P {
        font-family: $secondary-font;
    }
    img {
        width: 100%;
        display: block;
    }
    .highlight {
        font-weight: 900;
    }
    .resultPorsche {
        display: flex;
        flex-direction: column;
    }
    .infoPorsche {
        display: flex;
        flex-direction: column;
        background-color: $accent-color;
        padding: 10px;
    }
}

//the section containing the reset button
.reset {
    justify-content: center;
    .btnReset {
        background-color: $primary-color;
        color: $light-color;
        font-weight: 900;
        margin: 5px;
        display: none;
    }
}