// Color palette inspired by the German tricolor flag - Stuttgart, DE is home to Porsche HQ 
$primary-color: #FF785A; //Outrageous Orange
$secondary-color: #FFAA5A; //Rajah
$tertiary-color: #FFD25A; //Orange Yellow Crayola
$accent-color: #FFF05A; //corn
$light-color: #fafafa; //near-white
$dark-color: #191919; //eerie black
// Space Mono and Space Mono font pairing inspiration: https://fontpair.co/pairing/spacemono-and-spacemono
$font-family: 'Space Mono',
monospace;
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button {
    font-family: $font-family;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

//body text
input[type=radio],
p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: .01rem;
}

button {
    font-size: 2.5rem;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 4px solid transparent;
    &:hover {
        border: 4px solid $accent-color;
        color: $primary-color;
    }
}

a {
    font-size: 1.8rem;
    display: inline-block;
}