// Color palette inspired by the German colors - home to Porsche HQ in Stuttgart
// Source: https://coolors.co/fff05a-ffd25a-ffaa5a-ff785a-191919
$primary-color: #FF785A; //Outrageous Orange
$secondary-color: #FFAA5A; //Rajah
$tertiary-color: #FFD25A; //Orange Yellow Crayola
$accent-color: #FFF05A; //corn
$light-color: #fafafa; //near-white
$dark-color: #191919; //eerie black
h1 {
    margin: 0px;
}

h2 {}

h3 {}

h4 {}

h5 {}

button {}

// font-family: 'Roboto', sans-serif;
// font-size: 35px;
// font-family: 'Droid Serif', serif;
// font-size: 15px;